html{
    font-family: "Bebas Neue";
    margin: 0;
    border: 0;
}
body{
    margin: 0;
}
header{
    background-color: #000000;
    display: flex;
    align-items: center;
    height: 7em;
}
.logo img{
    margin-left: 4em;
    width: 67%;
    
}
.links_header{
    display: flex;
    gap: 2.1em;
    margin-left: 3em;
}
.links_header a{
    color: white;
    text-decoration: none;
    font-size: 1.3vw;
    font-weight: 300;
}
#especial{
    color: red;
}
.interativos{
    display: flex;
    flex-direction: row;
    margin-left: 30%;
    gap: 4.6em;
}
.interativos div{
    display: flex;
    align-items: center;
}
.interativos img{
    height: 30%;
}
.interativos p{
    color: white;
    font-size: 1.3vw;
}
.carrinhodecompras{
    display: flex;
    align-items: center;
}
.carrinhodecompras img{
    height: 50%;
}
.banner{
    position: relative;
     overflow: hidden;
}
.banner img{
    max-width: 100%;
    box-shadow: 47px 0px 100px 9px #b3b3b3 inset;
    overflow: hidden;

}.overlay_cinza{
position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 99%;
background: linear-gradient(90deg, #3f3f3f83 64%, #6e6e6e57 80%, #c4c4c400 95%);
  z-index: 2; 
  
}
.banner_texto{
    z-index: 4;
    position: absolute;
    top: 45%;
    left: 20%;
    transform: translate(-50%, -50%);
    font-size: 6.2vw;
    color: white;
}