html {
    font-family: "Bebas Neue";
    margin: 0;
    border: 0;
}

body {
    margin: 0;
}
<<<<<<< HEAD
input, label{
    display: none;
}
=======
>>>>>>> 044ab9033ed3eb460f2f16391aae6057ff208e8f

header {
    background-color: #000000;
    display: flex;
    align-items: center;
    height: 7em;
}

<<<<<<< HEAD
.logo{
    margin-left: 5%;
    width: 10%;
   
}
.logo img {
    width: 67%;
}
=======
.logo img {
    margin-left: 4em;
    width: 67%;

}
>>>>>>> 044ab9033ed3eb460f2f16391aae6057ff208e8f

.links_header {
    display: flex;
    gap: 2.1em;
    margin-right: auto;
}

.links_header a {
    color: white;
    text-decoration: none;
    font-size: 1.3vw;
    font-weight: 300;
    min-width: max-content;
}

#especial {
    color: red;
}

.interativos {
    display: flex;
    flex-direction: row;
    gap: 4.6em;
}

.interativos div {
    display: flex;
    align-items: center;
    gap: 7%;
}

.interativos img {
    height: 30%;
}

.interativos p {
    color: white;
    font-size: 1.3vw;
}

.carrinhodecompras {
    display: flex;
    align-items: center;
}

.carrinhodecompras img {
    height: 50%;
}

.banner {
    position: relative;
    overflow: hidden;
}

.banner img {
    max-width: 100%;
    box-shadow: 47px 0px 100px 9px #b3b3b3 inset;
    overflow: hidden;

}

.overlay_cinza {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 99%;
    background: linear-gradient(90deg, #3f3f3f83 64%, #6e6e6e57 80%, #c4c4c400 95%);
    z-index: 2;

}

.banner_texto {
    z-index: 4;
    position: absolute;
    top: 45%;
    left: 20%;
    transform: translate(-50%, -50%);
    font-size: 6.2vw;
    color: white;
}

.anuncios {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2%;
    margin-top: 1.5%;
}

.banner_secundario {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.banner_secundario img {
    width: 100%;
}

.novidades {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1%;
}

.novidades h2 {
    font-size: 2.6vw;
    font-weight: 300;
}

.produtos_banner {
    display: flex;
    justify-content: center;
    gap: 1.5%;
}

.produtos {
    display: flex;
    flex-direction: column;
    width: 23%;
}

.produtos img {
    width: 100%;
}

.produtos h3,
.produtos p {
    font-size: 1.3vw;
    font-weight: 400;
}

.produtos p {
    margin-top: 0;
}

.produtos h3 {
    margin-bottom: 1%;
}

.produtos h3,
.produtos p,
.produtos del {
    margin-left: 7%;
}

.produtos del {
    color: #898989;
}

.instagram_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6%;
}

.instagram_section h2 {
    font-size: 2.6vw;
    font-weight: 300;
}

.instagram_banner {
    display: flex;
    gap: 1.4%;
    justify-content: center;
}

.instagram_imagens {
    width: 25%;
}

.instagram_imagens img {
    width: 100%;
}

footer {
    background-color: #000000;
    margin-top: 5%;
}

footer h3 {
    color: white;
}

footer a,
footer p {
    color: #898989;
    text-decoration: none;
}
<<<<<<< HEAD

.footer_logo img {
    width: 8%;
    padding: 1.2% 2%;
}

.footer_infos {
    display: flex;
    border: #333333 solid 1px;
    gap: 50%;
=======
.footer_logo{
    display: flex;
    align-items: center;
    
}
.footer_logo img{
    width: 7%;
    margin-top: 1.5%;
    margin-bottom: .6%;
    
    margin-left: 3%;
}

.footer_infos {
    display: flex;
    border: #898989 solid 1px;
    padding-bottom:1.5%;
>>>>>>> 044ab9033ed3eb460f2f16391aae6057ff208e8f
}

.bloco_esquerda {
    display: flex;
<<<<<<< HEAD
    gap: 10%;
    margin: 1% 0% 3% 3%;
}

.bloco_esquerda h3 {
    font-size: 1.2vw;
    font-weight: 300;

}

.bloco_esquerda a {
    font-size: 1vw;
    font-weight: 300;
}

=======
    width: 45%;
    margin-left: 3%;
}


.info h3 {
    font-size: 1.2vw;
    font-weight: 300;
}

.info a {
    font-size: 1vw;
}
>>>>>>> 044ab9033ed3eb460f2f16391aae6057ff208e8f
.institucional,
.ajuda,
.politicas,
.central-relacionamento {
<<<<<<< HEAD
    display: flex;
    flex-direction: column;
    min-width: max-content;
}

.bloco_direita {
=======
>>>>>>> 044ab9033ed3eb460f2f16391aae6057ff208e8f
    display: flex;
    flex-direction: column;
    width: 100%;
}

<<<<<<< HEAD
.bloco_direita h3 {
    font-size: 1.2vw;
    font-weight: 300;
}

.redes_sociais {
    display: flex;
    width: 40%;
    gap: 15%;
}

.redes_sociais a {
    font-size: 1vw;
    width: 100%;

}

.redes_sociais img {
    width: 150%;
    margin: 0;
}

.direitos_autorais {
    display: flex;
    justify-content: center;
}
@media  (max-width:1550px){
    .logo img{
        width: 90%;
    }
}
@media  (max-width:769px){
    label{
        color: white;
        display: block;
        font-size: 4vw;
    }
    .logo{
        display: flex;
        gap: 10%;
        width: 20%;
    }
    .links_header{
        display: none;
    }
    .interativos{
        margin-left: auto;
        margin-right: 3%;
        gap: 5%;
    }
    .interativos p{
        font-size: 3vw;
    }
=======
.bloco_direita {
    display: flex;
    flex-direction: column;
    margin-left: 38%;

}

.bloco_direita h3 {
    font-size: 1.2vw;
    font-weight: 300;
}

.redes_sociais {
    display: flex;
    flex-direction: row;
    width: 60%;
    gap: 5%;

}

.redes_sociais img {
    width: 60%;
    margin: 0;
}
.direitos_autorais{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.direitos_autorais p{

>>>>>>> 044ab9033ed3eb460f2f16391aae6057ff208e8f
}