html {
    font-family: "Bebas Neue";
    margin: 0;
    border: 0;
}

body {
    margin: 0;
}

header input 
label {
    display: none;
}
header input{
    display: none;
}
.link_home label{
    display: none;
}

header {
    position: relative;
    background-color: #000000; /* O Preto do header */
    display: flex;
    align-items: center;
    height: 7em;
    z-index: 20;

}

.header_esquerda {
    display: flex;
    align-items: center;
    margin-left: 5%;
    margin-right: auto;

}

.logo {
    width: 100%;
    height: 100%;
    margin-right: 10%;

}

.logo img {
    width: 100%;
}

.links_header {
    display: flex;
    gap: 2.1em;
    margin-right: auto;

}

.links_header a {
    color: white;
    text-decoration: none;
    font-size: 1.3vw;
    font-weight: 300;
    min-width: max-content;
}

.links_header hr {
    display: none;
}

#especial {
    color: red;
}

.interativos {
    display: flex;
    flex-direction: row;
    gap: 4.6em;
    margin-right: 2%;
}

.interativos div {
    display: flex;
    align-items: center;
    gap: 7%;
}
.interativos a{
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 7%;
}

.interativos img {
    height: 30%;
}

.interativos p {
    color: white;
    font-size: 1.3vw;
}

.carrinhodecompras {
    display: flex;
    align-items: center;
}

.carrinhodecompras img {
    height: 50%;
}

.banner {
    position: relative;
    overflow: hidden;
}

.banner img {
    max-width: 100%;
    box-shadow: 47px 0px 100px 9px #b3b3b3 inset;
    overflow: hidden;

}

.overlay_cinza {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 99%;
    background: linear-gradient(90deg, #3f3f3f83 64%, #6e6e6e57 80%, #c4c4c400 95%);
    z-index: 2;

}

.banner_texto {
    z-index: 4;
    position: absolute;
    top: 45%;
    left: 20%;
    transform: translate(-50%, -50%);
    font-size: 6.2vw;
    color: white;
}

.anuncios {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2%;
    margin-top: 1.5%;
}

.banner_secundario {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.banner_secundario img {
    width: 100%;
}

.novidades {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1%;
}

.novidades h2 {
    font-size: 2.6vw;
    font-weight: 300;
}

.produtos_banner {
    display: flex;
    justify-content: center;
    gap: 1.5%;
}

.produtos {
    display: flex;
    flex-direction: column;
    width: 23%;
}

.produtos img {
    width: 100%;
}

.produtos h3,
.produtos p {
    font-size: 1.3vw;
    font-weight: 400;
}

.produtos p {
    margin-top: 0;
}

.produtos h3 {
    margin-bottom: 1%;
}

.produtos h3,
.produtos p,
.produtos del {
    margin-left: 7%;
}

.produtos del {
    color: #898989;
}


.instagram_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6%;
}

.instagram_section h2 {
    font-size: 2.6vw;
    font-weight: 300;
}

.instagram_banner {
    display: flex;
    gap: 1.4%;
    justify-content: center;
}

.instagram_imagens {
    width: 25%;
}

.instagram_imagens img {
    width: 100%;
}

footer {
    background-color: #000000;
    margin-top: 5%;
}

footer h3 {
    color: white;
}

footer a,
footer p {
    color: #898989;
    text-decoration: none;
}

.footer_logo img {
    width: 8%;
    padding: 1.2% 2%;
}

.footer_infos {
    display: flex;
    border: #333333 solid 1px;
    gap: 50%;
}

.bloco_esquerda {
    display: flex;
    gap: 10%;
    margin: 1% 0% 3% 3%;
}

.bloco_esquerda h3 {
    font-size: 1.2vw;
    font-weight: 300;

}

.bloco_esquerda a {
    font-size: 1vw;
    font-weight: 300;
}

.institucional,
.ajuda,
.politicas,
.central-relacionamento {
    display: flex;
    flex-direction: column;
    min-width: max-content;
}

.bloco_direita {
    display: flex;
    flex-direction: column;
}

.bloco_direita h3 {
    font-size: 1.2vw;
    font-weight: 300;
}

.redes_sociais {
    display: flex;
    width: 40%;
    gap: 15%;
}

.redes_sociais a {
    font-size: 1vw;
    width: 100%;

}

.redes_sociais img {
    width: 150%;
    margin: 0;
}

.texto_alt {
    display: none;
}

.direitos_autorais {
    display: flex;
    justify-content: center;
}

@media (max-width:1550px) {
    .logo img {
        width: 90%;
    }
}
@media (max-width:1090px){
    .logo{
        margin-right: auto;
        width: 25%;
    }
    .logo img{
        width: 100%;
    }
    .links_header{
        gap: 7%;
    }

    .links_header a{
        font-size: 1.7vw;
    }
    .interativos{
        margin-right: 7%;
        margin-left: auto;
        gap: 15%;
    }
    .interativos p{
        font-size: 2vw;
    }
    
}

@media (max-width:769px) {
    body{
        margin: 0;
        padding-top: 7em;
    }
    header{
        position: fixed;
        top: 0;
        width: 100%;
    }
    .links_header {
        display: none;
    }

    label {
        color: white;
        display: block;
        font-size: 4vw;
    }

    .header_esquerda {
        flex-direction: column;
    }

    .logo {
        display: flex;
        gap: 10%;
        width: 100%;
    }
    .logo img{
        width: 60%;
    }

    .header_esquerda:has(#menu_toggle:checked) .links_header {
        display: flex;
        flex-direction: column;
    }

    .links_header {
        position: fixed;
        background-color: #333333;
        height: 100vh;
        width: 90%;
        padding-top: 5%;
        top: 7em;
        bottom:0 ;
        left: 0%;
        z-index: 10;
        gap: 1%;
    }

    .links_header a {
        font-size: 4.5vw;
        padding: 2%;
        margin-left: 3%;
    }

    .links_header hr {
        display: block;
        background-color: #666666;
        border-color: #666666;
        width: 90%;
    }

    .interativos {
        margin-left: auto;
        margin-right: 10%;
        gap: 10%;
    }

    .interativos p {
        font-size: 3vw;
    }

    .novidades h2 {
        font-size: 5vw;
    }

    .produtos_banner {
        flex-wrap: wrap;

    }

    .produtos {
        width: 40%;
    }

    .produtos h3 {
        font-size: 2.5vw;
    }

    .produtos del {
        font-size: 1.7vw;
    }

    .produtos p {
        font-size: 2vw;
    }

    .instagram_section h2 {
        font-size: 5vw;
    }

    .footer_logo {
        padding: 2%;
    }

    .footer_logo img {
        width: 14%;
    }

    .footer_infos {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .bloco_esquerda {
        margin-right: auto;
    }

    .bloco_esquerda h3 {
        font-size: 2.4vw;
    }

    .bloco_esquerda a {
        font-size: 2vw;
    }

    .bloco_direita {
        justify-content: center;
        align-items: center;
    }

    .bloco_direita h3 {
        font-size: 2.5vw;
    }

    .redes_sociais {
        gap: 3%;
        margin-bottom: 10%;
        width: 30%;
    }

    .redes_sociais img {
        width: 100%;
    }

    .texto_alt {
        display: block;
    }

    .texto_prim {
        display: none;
    }

    .direitos_autorais {
        padding: 0 5%;
    }

    .texto_alt {
        text-align: center;
    }
}
@media (max-width:500px){
    label{
        font-size: 9vw;
    }
    .logo{
        align-items: center;
    }
    .logo img{
        width: 50%;
        height: 30%;
    }
   
    .interativos p{
        display: none;
    }
}