html{
    font-family: "Bebas Neue";
    margin: 0;
    border: 0;
}
body{
    margin: 0;
}
header{
    background-color: #000000;
    display: flex;
    align-items: center;
    height: 7em;
}
.logo img{
    margin-left: 4em;
    width: 67%;
    
}
.links_header{
    display: flex;
    gap: 2.1em;
    margin-left: 3em;
}
.links_header a{
    color: white;
    text-decoration: none;
    font-size: 1.3vw;
    font-weight: 300;
}
#especial{
    color: red;
}
.interativos{
    display: flex;
    flex-direction: row;
    margin-left: 30%;
    gap: 4.6em;
}
.interativos div{
    display: flex;
    align-items: center;
}
.interativos img{
    height: 30%;
}
.interativos p{
    color: white;
    font-size: 1.3vw;
}
.carrinhodecompras{
    display: flex;
    align-items: center;
}
.carrinhodecompras img{
    height: 50%;
}